@*@model IEnumerable<AppArticle.Models.Article>*@
@model PagedList.IPagedList<AppArticle.Models.Article>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
@section css
    {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    @Styles.Render("~/Css/article")
}
<div class="head-cam">
    <div>
        <h2>CAM Article</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </div>
    <div class="cam-search">
        <div class="search">
            <span>CAM SEARCH:</span>
            <input type="text" />
        </div>
    </div>
    <div></div>
</div>
<table class="table">
    <tr>
        <th>
            CAM LINK
        </th>
        <th>
            CAM TITLE
        </th>
        <th>
            CAM DESCRIPTION
        </th>
        <th>
            CAM THUMBNAIL
        </th>

        <th>
            CAM CREATED
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.link_detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.Raw(item.description)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.thumnail)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td class="action">
                <div class="action-item">
                    @Html.ActionLink("Edit", "Edit", new { link_detail = item.link_detail })
                    <i class="fas fa-pen"></i>
                </div>
                <div class="action-item">
                    @Html.ActionLink("Details", "Details", new { link_detail = item.link_detail })
                    <i class="fas fa-eye"></i>
                </div>
                <div class="action-item">
                    @Html.ActionLink("Delete", "Delete", new { link_detail = item.link_detail })
                    <i class="fas fa-trash"></i>
                </div>

            </td>
        </tr>
    }

</table>
<br />
<div class="panigate">
    CAM @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))

</div>